/*General*/
*{

    font-family: 'Roboto';
}




body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
}


header {

   
    padding: 15px 15px;
          
    margin-bottom: 108px;
}

li:hover{

        font-size: 17px;
}

#botao{
margin-top: 10px;
    width: 310px;
}

img{
    border-radius: 40px;
}

#img_principal{

   border-radius: 0%;
}

#logo{
    text-decoration: none;
    color:rgb(255, 153, 0);
    padding: 10px;
    border: 5px solid  #fff;
    border-radius: 90px;
}
.logotipo{

    font-size: 35px;
    margin-right: auto;
}

.nav-links{

    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover{

color: aquamarine;
}

.nav-link-principal{
    

}

#entrar_login{

    height: 36px;
}

@media( max-width:800px){

    li,a{
        font-size: 12px;
    }

    .logotipo{
        font-size: 22px;
    }


}

/*sobre*/



#navbar img {
    
    width: 40px;
}


.container{

    margin: 0px;
}

.row{
    margin: 0;
}


.container-fluid{

    padding: 0;
}

#botao:hover {

    background-color: #f2A340;
    border:2px solid #c28008;
    
}

*/Navbar/

#navbar img {
    border: 5px solid black;
    border-radius: 90px;
}

#navbar{
    justify-content: space-between;
    background-color:#fff;
    padding: 5px 0;
}

#navbar a{
    font-size: 16px;
    color:#757575;
}

#navbar a:hover{
color: #13444d;

}


/*Events list*/

#events-container {
padding: 50px;

}

#events-container h2{
margin-bottom: 10px;
}


#cards-container{
display: inline-block;
margin-top:30px;
margin-right: 20px;
}

#events-container .card{
display: inline-block;
max-width: 25%;
border-radius: 10px;
padding: 0;
margin: 2.5%;
}



footer{
text-align: center;
background-color: #095169;
color: #fff;
padding: 30px;
position: absolute;
bottom: 0;
width: 100%;
}

/*Event create page*/




/* Edit Page*/
.img-preview{
width: 100px;
margin-top: 20px;

}

footer p{
    margin-bottom: 0;
}
