#ttt{

    margin-bottom: 90px;
}

#event-create-container{

    background-color: white;
    padding: 50px;
}


.dashboard-title-container{
margin-bottom: 30px;
margin-top: 30px;

}


.dashboard-eventos-container th{
width: 25%;

}

