/*General*/
*{

    font-family: 'Roboto';
}




body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
    
}






#botao{
margin-top: 10px;
    width: 310px;
}

img{
    border-radius: 40px;
}

#img_principal{

   border-radius: 0%;
}

#logo{
    text-decoration: none;
    color:#020617;
    padding: 10px;
    border: 5px solid #f8fafc;
    border-radius: 90px;
}
.logotipo{

    font-size: 35px;
    margin-right: auto;
    
}





.nav-links{
    
    list-style: none;
}


.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    
}


.nav-item a{

    color:#f8fafc;
    margin-right:10px;
    margin-left:14px;
}

#entrar_login{

    height: 36px;
}

@media( max-width:800px){

    li,a{
        font-size: 12px;
    }

    .logotipo{
        font-size: 22px;
    }


}

/*sobre*/



#navbar img {
    
    width: 40px;
}


.container{

    margin: 0px;
}

.row{
    margin: 0;
}


.container-fluid{

    padding: 0;
}

#botao:hover {

    background-color: #f2A340;
    border:2px solid #c28008;
    
}

*/Navbar/




#navbar a:hover{
color: white;

}


/*Events list*/

#events-container {
padding: 50px;

}

#events-container h2{
margin-bottom: 10px;
}


#cards-container{
display: inline-block;
margin-top:30px;
margin-right: 20px;
}

#events-container .card{
display: inline-block;
max-width: 25%;
border-radius: 10px;
padding: 0;
margin: 2.5%;
}



footer{
text-align: center;
background-color:#0284c7;
color: #fff;
padding: 30px;
position: absolute;
bottom: 0;
width: 100%;
}

/*Event create page*/




/* Edit Page*/
.img-preview{
width: 100px;
margin-top: 20px;

}

footer p{
    margin-bottom: 0;
}
